@import  "./_config.scss";


body{
   @include colorr($secondary);
} 

#root{
   background-color:rgb(13, 6, 13);
   height: 100vh;
   display: grid;
   grid-template-columns: 1fr;
}
.Layout{
  background-color: rgb(219, 23, 23);
  display: grid;
  grid-template-columns: 1fr;
   grid-template-rows: 1fr ;

}
.nav{
   background-color: aqua;
   line-height: 2.5em;
   width: 100%;
   margin-top: 1px;
   display: flex;
   flex-direction: column;
   position: fixed;

   @media (min-width:800px) {

      background-color: aqua;
      line-height: 2.5em;
      width: 100%;

      display: flex;
      flex-direction: row;
     
   }
   .icon{
      background-color: rgb(221, 160, 160);
      line-height: 2.5em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      @media (min-width:800px) {
         width: 10%;
         line-height: 2.5em;
      }

      #menuclose{
         display: flex;
         justify-content: center;
          width:35% ;
          @media (min-width:800px)  {
            display: none;
          }
         }
         #openmenu{
            display: none;
            justify-content: center;
             width:35% ;
             @media (min-width:800px)  {
               display: none;
             }
            }   
   }
   & .navmenu{
      background-color: white;
      align-self: flex-end;
      width: 35%;
      line-height: 20vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      opacity: 0.9;
      position: fixed;
      top: 2.5em;
     
      @media (min-width:800px) {
         background-color: white;
         width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      line-height: 2.5em;
      position: relative;
      top: 0;
      }
   }
   li{
      background-color: gray;
      display: flex;
      justify-content: center;
      @media (min-width:800px) {
         display: grid;
         grid-template-columns: repeat(4 1fr);
         background: grey;
         width: 10%;
      }
   }
}
.api{
   background-color: rgb(22, 235, 36);
   width: 100%;
   margin-top: 2.5em;
   display:grid;
   grid-template-rows: auto;

   @media (min-width:800px) {
     
      
   }

   


}
.footerdiv{
   width: 100%;
   height: 100%;
   bottom: 0;
   background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  
}
